$themeLight: #dddddd;
$themeDark: #4f4f4f;

div{
  margin-top: 3em;
}
table {
  font-family: Verdana;
  font-size: 1em;
  font-variant: small-caps;
  border: 1px solid $themeLight;
}

table thead{
  color: $themeDark;
}

img{
  height: 1.2em;
}

.createItem{
  text-align: center;
}

.form-control{
  width: 15%;
  display: inline-block;
}

.quantity{
  font-size: .5em;
  padding: .5em;
}

input.ng-invalid.ng-touched, .ng-submitted input.invalid {
        border: 1px solid red;
      }
