<!DOCTYPE html>
<html ng-app='storeFront'>
  <head>
    <meta charset="utf-8">
    <title>Store Front</title>

   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
   <link rel="stylesheet" type="text/css" href="css/shop.css">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
   <script src="js/main.js"></script>
   <script src="js/controllers/shop.js"></script>
   <script src="js/controllers/user-shop.js"></script>
   <script src="js/factories/shop.js"></script>


  </head>
  <body>
    <section class="container" ng-controller="loginController as lc">
      <h3>Hello, {{lc.username}}! {{ lc.date | date : "MMM dd h:mm a" }}</h3>
    </section>
    <section class="container" ng-controller="StoreController as sc">

      </header>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Color</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in sc.inventory | orderBy: sc.sortOrder" >
            <td>{{item.name}}</td>
            <td> {{ (item.price - item.discount) + ((item.price - item.discount) * sc.tax) | currency }}
              <img ng-show= "item.discount > 0" src='https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png'>
            </td>

            <td>
              <button class="btn btn-primary btn-xs quantity" ng-click="sc.increment(item)"> + </button>
                {{item.quantity}}
              <button class="btn btn-primary btn-xs quantity" ng-click="sc.decrement(item)"> - </button>
            </td>
            <td>{{item.color}}</td>
          </tr>
        </tbody>
      </table>


      <form novalidate name ="createItem" ng-submit="sc.save(createItem)" class="createItem">
        <!-- <p class ="form-error" ng-show="createItem.$invalid && createItem.submitted"> INVALID INFO </p> -->

        <input ng-model="sc.newItem.name" type="text" required min="2"placeholder="Name" class="form-control">
        <input ng-model="sc.newItem.price" type="number" required min="1" step="0.01" placeholder="Price" class="form-control">
        <input ng-model="sc.newItem.quantity" type="number" required placeholder="Quantity" class="form-control">
        <input ng-model="sc.newItem.color" type="text" min="2" required placeholder="Color" class="form-control">
        <input ng-model="sc.newItem.discount" type="number" required placeholder="Discount" class="form-control">

        <button class="btn btn-primary">

          Add Item
        </button>
      </form>
  </section>
  </body>
</html>
